/*
 * Created by Erwin Steffens <erwinsteffens@gmail.com. 
 * Base on the popular hyde theme. Learn more at: https://github.com/poole/hyde.
 */

html {
  font-family: 'Open Sans', sans-serif;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

a {
  color: #73afb6;
}

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #5e9ca0;
}
@media (min-width: 48em) {
  .sidebar {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
  }
}

.sidebar .lead {
  font-size: 1rem;
  margin-top: 1rem;
}

.sidebar a {
  color: #fff;
}

.sidebar .about h1 {
  color: #fff;
  margin-top: 0;
  font-size: 3.25rem;
  line-height: 1;
}

.sidebar nav ul {
  padding: 0;
  list-style: none;
}

.sidebar nav.main li {
  display: block;
}
.sidebar nav.main li:hover,
.sidebar nav.main li:focus {
  text-decoration: underline;
}
.sidebar nav.main li.active {
  font-weight: bold;
}
.sidebar nav.social {
  margin-top: 1.25rem;  
}
.sidebar nav.social a {
  margin: .25rem;
}
.sidebar nav.social a:first-of-type {
  margin-left: 0;
}

.generatedby {
  font-size: .75rem;
  margin-top: .75rem;
}

.content {
  padding-top: 2.9rem;
  padding-bottom: 2rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    max-width: 44rem;
    margin-right: 4rem;
  }
}

.footer {
  text-align: center;
  padding-right: 6rem;
  padding-left: 6rem;
  margin-top: 5rem;
  font-size: .6rem;
}

@media (min-width: 48em) {
  .footer {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}

@media (min-width: 64em) {
  .footer {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}

.footer .license img {
  display: inline-block;
  margin: 0;
}

.profile {
  float: right;
  margin-left: 2rem;
}

code {
  font-family: Consolas;
}