/*
 * Created by Erwin Steffens <erwinsteffens@gmail.com. 
 * Base on the popular hyde theme. Learn more at: https://github.com/poole/hyde.
 */

html {
  font-family: 'Raleway', sans-serif;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}
@media (min-width: 48em) {
  .sidebar {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
  }
}

.sidebar .lead {
  font-size: 1rem;
}

.sidebar a {
  color: #fff;
}

.sidebar .about h1 {
  color: #fff;
  margin-top: 0;
  font-size: 3.25rem;
}

.sidebar nav ul {
  padding: 0;
  list-style: none;
}

.sidebar nav.main li {
  display: block;
}
.sidebar nav.main li:hover,
.sidebar nav.main li:focus {
  text-decoration: underline;
}
.sidebar nav.main li.active {
  font-weight: bold;
}
.sidebar nav.social a {
  font-size: .8rem;
  margin: .25rem;
}

.generatedby {
  font-size: .75rem;
  margin-top: .5rem;
}

.content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

@media (min-width: 48em) {
  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}

@media (min-width: 64em) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}

.footer {
  text-align: center;
  padding: 0 7rem;
  margin-bottom: 2rem;
  font-size: .6rem;
}

@media (min-width: 48em) {
  .footer {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
    font-size: .6rem;
  }
}

@media (min-width: 64em) {
  .footer {
    margin-left: 22rem;
    margin-right: 4rem;
    font-size: .6rem;
  }
}

.footer .license img {
  display: inline-block;
  margin: 0;
}