<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.description }} 
        {{.}} 
      {{end}}
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/">Home</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>
    
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
        <li class="nav-item">
          {{ with .Site.Params.social.twitter }}
          <a class="pure-button" href="https://twitter.com/{{ . }}"><i class="fa fa-twitter fa-2x"></i></a>
          {{ end }}
          {{ with .Site.Params.social.github }}
          <a class="pure-button" href="https://github.com/{{ . }} "><i class="fa fa-github fa-2x"></i></a>
          {{ end }}
          <a class="pure-button" href="{{ .Site.BaseURL }}/index.xml"><i class="fa fa-rss fa-2x"></i></a>
        </li>
      </ul>
  </div>
</div>
